h1 {
  text-align: center;
  color: cornflowerblue;
}


.button {

  background-color: lightblue;
  font-size: 30px;
  border-radius: 5px;
  border: none;
  box-shadow: 4px 4px 12px 1px;
  display: flex;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;

}

.aTag {

  text-decoration: none;


}

.strawberry_img {

  width: 500px;
  display: flex;
  margin-left: auto;
  margin-right: auto;

}

.photo-by{

text-align: center;

}

.main-Div{

display: flex;
flex-direction: column;
justify-content: flex-end;



}

.dog-pic-404{

width: 350px;



}

.div-404 {

display: flex;
flex-direction: column;
align-items: center;
}

.places-div{

  grid-row: inherit;
}

.place-images{

  height: 340px;
  width: 550px;

 



}

.grid-row{

display: grid;
grid-template-columns: auto auto auto;
justify-content: center;

}

.picture-div{

  height: 340px;
  width: 450px;
  overflow: hidden;

}

body{
  background-color: lightblue;
  text-align: center;

}

main{

  margin-right: 20px;
  margin-left: 20px;

}

nav{

  background-color: cornflowerblue;
  padding: 10px;

}

nav ul {

list-style-type: none;


}

nav li{

display: inline;
margin-right: 25px;
}

nav a {

  color: white;
  font-size: 1.5em;
  text-decoration: none;

}

nav a:hover{

  color: rgb(14, 246, 57);
  text-shadow: 3px 3px 2px rgb(0, 0, 0) ;
 
}